@import '../../globals/variables.css';

:root {
  --salon-finder-bg-color: var(--color-grey-four);
  --salon-finder-title-width: calc(var(--default-column-width) * 9);
  --salon-finder-width: calc(var(--default-column-width) * 10);
  --salon-finder-width-mobile: calc(var(--default-column-width) * 18);
  --results-right-padding: calc(var(--default-column-width) * 1);
  --results-left-padding: calc(var(--default-column-width) * 1);
  --map-width: calc(var(--default-column-width) * 10);
  --map-width-tablet: calc(var(--default-column-width) * 9);
  --salon-finder-close-button-size: 3rem;
}

.root {
  background: var(--salon-finder-bg-color);
  display: block;
  height: 100%;
  overflow: visible;
  padding: var(--default-margin-larger) 0;
  position: relative;
}

.search {
  margin: 0 auto;
  width: var(--salon-finder-width-mobile);
}

.closeBtn {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: var(--default-column-width);
  top: 2.5rem;
  z-index: 1000;

  & i {
    height: var(--salon-finder-close-button-size);
    width: var(--salon-finder-close-button-size);
  }
}

.result {
  display: flex;
  flex-direction: column-reverse;
}

.resultList {
  & > *:not(:last-child) {
    margin-bottom: var(--default-margin);
  }
}

.resultBlock {
  padding: var(--default-margin-larger) var(--results-right-padding) var(--default-margin-larger) var(--results-left-padding);
}

.mapWrapper {
  width: 100%;
}

.question {
  & > * {
    font-size: var(--font-size-extra-extra-large) !important;
    line-height: 5.5rem !important;
  }
}

@media (--md-min) {
  .mapWrapper {
    width: var(--map-width-tablet);
  }

  .result {
    flex-direction: row;
    justify-content: space-between;
    padding: var(--default-margin-larger) var(--results-right-padding) var(--default-margin-larger) var(--results-left-padding);
  }

  .search {
    padding: var(--default-margin-larger) 0;
    width: var(--salon-finder-width);
  }

  .question {
    width: var(--salon-finder-title-width);
  }
}

@media (--lg-min) {
  .mapWrapper {
    width: var(--map-width);
  }
}

/*
.selection {
  width: 100%;
  text-align: right;
  margin-bottom: var(--default-margin-larger);

  & li > * {
    box-shadow: 0px 1px 0px 0px rgba(216, 216, 216, 1);
    border-radius: 3px;
  }

  & > *:not(:last-child) {
    margin-bottom: var(--default-margin);
  }
}
*/
