@import '../../globals/variables.css';

:root {
  --button-border-radius: var(--default-border-radius);
  --button-border-radius-small: var(--default-border-radius-small);
  --button-padding-top: calc(var(--default-padding) * 0.65);
  --button-padding-right: var(--default-padding);
  --button-padding-bottom: calc(var(--default-padding) * 0.65);
  --button-padding-left: var(--default-padding);
  --button-font-size: var(--font-size-smaller);
  --button-font-weight: var(--default-font-weight-regular);
  --button-line-height: var(--default-line-height);
  --button-font-family: var(--default-font-family);
  --button-size-modifier: 0.25;
  --button-default-background-color: var(--color-white);
  --button-default-text-shadow: none;
  --button-default-box-shadow: none;
  --button-default-box-shadow-active: none;
  --button-default-hover-background-color: var(--color-primary);
  --button-default-active-background-color: var(--color-grey-three-alt);
  --button-default-disabled-background-color:
    color(
      var(--button-default-background-color) tint(50%) alpha(70%)
    );
  --button-default-color: #fff;
  --button-default-hover-color: var(--color-white);
  --button-primary-background-color: var(--color-grey-three-alt);
  --button-primary-hover-background-color: var(--color-grey);
  --button-primary-active-background-color:
    color(
      var(--button-primary-background-color) shade(15%)
    );
  --button-primary-disabled-background-color:
    color(
      var(--button-primary-background-color) tint(50%) alpha(70%)
    );
  --button-primary-color: var(--color-grey-one);
  --button-secondary-background-color: var(--color-secondary);
  --button-secondary-hover-background-color: var(--color-secondary-two);
  --button-secondary-active-background-color:
    var(
      --button-secondary-background-color
    );
  --button-secondary-disabled-background-color:
    color(
      var(--button-secondary-background-color) blackness(50%) alpha(70%)
    );
  --button-secondary-color: var(--button-default-color);
  --button-tertiary-background-color: var(--color-grey-one);
  --button-tertiary-hover-background-color: var(--color-white);
  --button-tertiary-active-background-color:
    color(
      var(--button-tertiary-background-color) shade(15%)
    );
  --button-tertiary-disabled-background-color:
    color(
      var(--button-tertiary-background-color) tint(50%) alpha(70%)
    );
  --button-tertiary-color: var(--color-white);
  --button-tertiary-hover-color: var(--color-grey-one);
}

/* Styles */
.root {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--default-letter-spacing);
  overflow: hidden;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

.root span {
  flex: 1 0 auto;
}

.root span span {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: fit-content;
}

.root span span span {
  display: -webkit-inline-box;
  max-width: calc(100% - 4rem);
}

.root span span span:only-child {
  max-width: none;
}

.rounded {
  border-radius: var(--button-border-radius);

  &.small {
    border-radius: var(--button-border-radius-small);
  }
}

/* Themes */
.default {
  background-color: var(--button-default-background-color);
  color: var(--color-secondary-two);

  &:hover,
  &:focus {
    background-color: var(--button-default-hover-background-color);
    color: var(--button-default-hover-color);
  }

  &:active {
    background-color: var(--button-default-active-background-color);
    color: var(--color-secondary-two);
  }

  &[disabled] {
    background-color: var(--button-default-disabled-background-color);
    color: var(--button-default-color);
  }
}

.primary {
  background-color: var(--button-primary-background-color);
  color: var(--color-white);

  &:hover,
  &:focus {
    background-color: var(--button-primary-hover-background-color);
    color: var(--button-primary-color);
  }

  &:active {
    background-color: var(--button-primary-active-background-color);
    color: var(--button-primary-color);
  }

  &[disabled] {
    background-color: var(--button-primary-disabled-background-color);
    color: var(--button-primary-color);
  }
}

.secondary {
  background-color: var(--color-grey-two-alt);
  color: var(--color-grey-one);

  &:hover,
  &:focus {
    background-color: var(--color-grey-one-alt);
    color: var(--color-white);
  }

  &:active {
    background-color: var(--button-secondary-active-background-color);
    color: var(--button-secondary-color);
  }

  &[disabled] {
    background-color: var(--button-secondary-disabled-background-color);
    color: var(--button-secondary-color);
  }
}

.info {
  background-color: var(--button-tertiary-background-color);
  color: var(--color-white);

  &:hover,
  &:focus {
    background-color: var(--button-tertiary-hover-background-color);
    color: var(--button-tertiary-hover-color);
  }

  &:active {
    background-color: var(--button-tertiary-active-background-color);
    color: var(--button-tertiary-color);
  }

  &[disabled] {
    background-color: var(--button-tertiary-disabled-background-color);
    color: var(--button-tertiary-color);
  }
}

/* View */
.button {
  padding:
    var(--default-margin) var(--button-padding-right)
    var(--default-margin) var(--button-padding-left);
  text-shadow: var(--button-default-text-shadow);

  &:hover,
  &:focus {
    box-shadow: var(--button-default-box-shadow);
  }

  &:active:enabled {
    box-shadow: var(--button-default-box-shadow-active);
  }
}

.link {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;

  & span + i {
    margin-right: 0;
  }

  &.default {
    color: var(--button-default-background-color);

    &:hover,
    &:focus,
    &:active {
      color: var(--button-primary-background-color);
    }

    &[disabled] {
      color: var(--button-default-disabled-background-color);
    }
  }

  &.primary {
    color: var(--button-primary-background-color);

    &:hover,
    &:focus,
    &:active {
      color: var(--button-default-background-color);
    }

    &[disabled] {
      color: var(--button-primary-disabled-background-color);
    }
  }

  &.secondary {
    color: var(--button-secondary-background-color);

    &:hover,
    &:focus,
    &:active {
      color: var(--button-default-background-color);
    }

    &[disabled] {
      color: var(--button-secondary-disabled-background-color);
    }
  }
}

.outline {
  background-color: transparent;
  text-shadow: 0 0 0 transparent;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--button-default-hover-background-color);
    text-shadow: var(--button-default-text-shadow);
  }

  &.default {
    box-shadow: inset 0 0 0 1px var(--button-default-background-color);
    color: var(--button-default-background-color);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--button-default-hover-background-color);
      box-shadow: inset 0 0 0 1px var(--button-default-active-background-color);
      color: var(--color-grey-one);
    }

    &:active {
      background-color: var(--button-default-active-background-color);
    }
  }

  &.primary {
    box-shadow: inset 0 0 0 1px var(--button-primary-background-color);
    color: var(--button-primary-background-color);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--button-primary-hover-background-color);
      box-shadow: inset 0 0 0 1px var(--button-primary-hover-background-color);
      color: var(--button-primary-color);
    }
  }

  &.secondary {
    box-shadow: inset 0 0 0 1px var(--button-secondary-background-color);
    color: var(--button-secondary-background-color);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--button-secondary-active-background-color);
      box-shadow:
        inset 0 0 0 1px
        var(--button-secondary-active-background-color);
      color: #fff;
    }
  }
}

/* Sizes */
.small i {
  height: 3rem;
  width: 3.5rem;
}

.normal i {
  height: 3rem;
  width: 4rem;
}

.large i {
  height: 4rem;
  width: 5rem;
}
