@import '../../../globals/variables.css';

:root {
  --no-result-color: var(--color-white);
}

.root {
  background-color: var(--color-grey-one);
  color: var(--no-result-color);
  display: flex;
  height: calc(100vh - var(--header-main-height) - var(--default-margin-small));
  position: relative;
}

.root input {
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-grey-one);
  font-family: var(--default-font-family-book);
  font-size: var(--font-size-base);
  font-weight: var(--default-font-weight-regular);
  letter-spacing: var(--default-letter-spacing);
  line-height: 5rem;
  outline: none;
  padding: var(--default-margin-small) var(--default-margin);
  width: 100%;

  & ::placeholder {
    color: var(--color-grey-two);
  }
}

.root .contentWrapper {
  align-self: center;
  justify-self: center;
  padding: 5rem 0;
  width: 100%;
  z-index: 1;
}

.root .content {
  margin: auto;
  width: 86vw;
}

.root .title {
  color: var(--color-white);
  font-size: 6rem;
  margin-bottom: 3.4rem;
}

.root .subtitle {
  color: var(--color-white);
  font-size: var(--font-size-large);
}

.root .subtitle:first-child {
  margin-bottom: var(--default-margin);
}

.root .searchInput input {
  background-color: var(--color-white);
  font-size: 3.2rem;
}

.root .searchInput i {
  height: 6rem;
  margin-right: 0;
  margin-top: 0;
  top: 0;
  width: 6rem;
}

.root .bgWrapper {
  display: block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.root .bg,
.root .bg img {
  left: 0;
  position: absolute;
  top: 0;
}

.root .bg img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.root .scrollTo {
  color: var(--color-white);
  display: table;
  font-size: 12rem;
  left: 50%;
  margin-top: 5rem;
  position: absolute;
  transform: translate(-50%, 0);
}

.root .scrollTo i {
  height: 3.8rem;
  width: 3.8rem;
}

@media (--md-min) {
  .root .content {
    width: 40vw;
  }
}

@media (--lg-min) {
  .root {
    height: calc(100vh - var(--header-height) + var(--default-margin-small));
  }
}
