@import '../../globals/variables.css';

.root {
  /* placeholder for override */
  visibility: visible;
}

.root .logoImage {
  /* placeholder for override */
  visibility: visible;
}

.root .alignCenter {
  /* placeholder for override */
  visibility: visible;
}

.root .contentWrapper {
  /* placeholder for override */
  visibility: visible;
}

.root .content {
  /* placeholder for override */
  visibility: visible;
}

.root .subtitle {
  /* placeholder for override */
  visibility: visible;
}

.root .title {
  /* placeholder for override */
  visibility: visible;
}

.root .text {
  /* placeholder for override */
  visibility: visible;
}

.root .button {
  /* placeholder for override */
  visibility: visible;
}

.root .bgWrapper {
  /* placeholder for override */
  visibility: visible;
}

.root .bg {
  /* placeholder for override */
  visibility: visible;
}

.root .bgOverlay {
  /* placeholder for override */
  visibility: visible;
}
