@import '../../globals/variables.css';

:root {
  --loading-overlay-color: var(--color-primary);
}

.root {
  display: block;
  min-height: 3rem;
  min-width: 5rem;
  position: relative;
}

.loadingOverlay {
  background: rgba(243, 243, 243, 0.7);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
}

.loadingIcon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.ball {
  animation: bounceDelay 3.5s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99);
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  position: relative;
  width: 8px;
}

.hideLoading {
  & .loadingOverlay {
    display: none;
  }

  & .loadingIcon {
    display: none;
  }
}

.ball1 {
  animation-delay: -0.16s;
}

.ball2 {
  animation-delay: -0.08s;
}

.ball3 {
  animation-delay: -0.04s;
}

@keyframes bounceDelay {
  0% {
    background-color: var(--color-grey-two);
    bottom: 0;
  }

  16.66% {
    background-color: var(--color-grey-three);
    bottom: 20px;
  }

  33.33% {
    background-color: var(--color-grey-three);
    bottom: 0;
  }

  50% {
    background-color: var(--color-grey-two);
    bottom: 20px;
  }

  66.66% {
    background-color: var(--color-grey-two);
    bottom: 0;
  }

  83.33% {
    background-color: var(--color-grey-one);
    bottom: 0;
  }

  100% {
    background-color: var(--color-grey-one);
    bottom: 0;
  }
}
