@import '../../../globals/variables.css';

:root {
  --product-list-header-color: var(--color-primary);
}

.root {
  background-color: var(--color-grey-five);
  color: var(--product-list-header-color);
  display: block;
  padding: calc(var(--default-margin-larger) * 2) 0 var(--default-margin-larger) 0;
}
