@import '../../../../globals/variables.css';

:root {
  --flyout-menu-color: var(--color-grey-one);
  --flyout-menu-height: 63rem;
  --flyout-menu-icon-width: 4rem;
}

.root {
  background-color: var(--color-grey-five);
  color: var(--flyout-menu-color);
  display: flex;
  flex-direction: row;
  height: var(--flyout-menu-height);
  justify-items: left;
  left: 0;
  margin-left: calc(var(--default-column-width) * -1);
  text-align: left;
  width: 100vw;
}

.root .visible {
  opacity: 1 !important;
  transform: translateX(0) !important;
  visibility: visible !important;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.root .mainMenu {
  margin: 5rem 7.5vw 0 var(--default-column-width);
  min-width: calc(var(--default-column-width) * 3);
}

.root .mainMenuItem {
  font-size: 2.4rem;
  font-weight: var(--default-font-weight-medium);
  line-height: 4.5rem;
}

.root .mainItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: fit-content;

  & a {
    text-decoration: none;

    &:hover {
      color: var(--flyout-menu-color);
    }
  }

  &:hover i {
    opacity: 1;
    transform: translateX(0);
    transition: 0.3s all ease;
    visibility: visible;
  }
}

.root .mainItem i {
  margin-bottom: 0;
  margin-left: 1.5rem;
  opacity: 0;
  transform: translateX(-50%);
  visibility: hidden;
  width: var(--flyout-menu-icon-width);
}

.root .subMenu {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 6rem;
  position: relative;
  width: auto;
}

.root .subMenu.noMargin {
  margin-top: calc(var(--default-padding) / 5);
}

.root .subMenuSection.fullHeightSubmenu {
  height: var(--flyout-menu-height);
}

.root .subMenuSection {
  margin-bottom: var(--default-margin);
  width: calc(var(--default-column-width) * 3);
}

.root .subMenuSection:first-child {
  min-height: 50rem;
}

.root .subMenuSection:not(:last-child) {
  margin-right: 2.5vw;
}

.root .subMenuTitle {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
}

.root .subMenuItem {
  animation: 1s ease-in;
  line-height: 3.4rem;
  position: relative;
  text-decoration: none;
  width: fit-content;
}

.root .subMenuItem::after {
  background: var(--color-grey-two);
  bottom: 0.5rem;
  content: '';
  height: 0.1rem;
  left: 0;
  position: absolute;
  transition: 0.16s;
  width: 0%;
}

.root .subMenuItem:hover::after {
  width: 100%;
}

.root .buttonBottom {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  margin-bottom: var(--default-margin-small);
  position: absolute;
  text-decoration: none;
  width: max-content;
}

.root .buttonBottom i {
  margin-left: var(--default-margin);
  width: var(--flyout-menu-icon-width);
}

.root .mainPromo {
  justify-self: right;
  margin: 2.5vw 6vw 2.5vw 0;
  width: 22.5vw;
}

.root .subPromo {
  height: 28vw;
  justify-self: right;
  margin: 2.5vw 0 6.5vw 0;
  position: absolute;
  right: 0;
  width: 22.5vw;
}

:global(.flyoutMain-enter) {
  height: 0;
  opacity: 0;
}

:global(.flyoutMain-enter-active) {
  height: var(--flyout-menu-height);
  opacity: 1;
  transition: height 0.3s ease-in-out;
}

:global(.flyoutMain-exit) {
  opacity: 1;
}

:global(.flyoutMain-exit-active) {
  transition: all var(--trans-normal);
}

:global(.flyoutTitle-enter) {
  opacity: 0;
  transform: translateX(-3rem);
}

:global(.flyoutTitle-enter-active) {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}

:global(.flyoutTitle-exit) {
  opacity: 1;
}

:global(.flyoutTitle-exit-active) {
  opacity: 0;
  transform: translateX(-3rem);
  transition: opacity 0.3s, transform 0.3s;
}

:global(.flyoutItem-enter) {
  opacity: 0;
  transform: translateX(-3rem);
}

:global(.flyoutItem-enter-active) {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s, transform 0.4s;
}

:global(.flyoutItem-exit) {
  opacity: 1;
}

:global(.flyoutItem-exit-active) {
  opacity: 0;
  transform: translateX(-3rem);
  transition: opacity 0.4s, transform 0.4s;
}

:global(.flyoutMainPromo-enter) {
  opacity: 0;
  transform: translateY(-3rem);
}

:global(.flyoutMainPromo-enter-active) {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s, transform 0.4s;
}

:global(.flyoutMainPromo-exit) {
  opacity: 1;
}

:global(.flyoutMainPromo-exit-active) {
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 0.4s, transform 0.4s;
}
