@import '../../../../globals/variables.css';

.root {
  height: 100% !important;
}

.root .contentWrapper {
  height: auto;
  margin-top: 24rem;
  padding: 0;
}

.root .content {
  padding: 0;
  padding-right: 5vw;
  text-decoration: none;
}

.root .subtitle {
  margin-bottom: var(--default-margin-small);
}

.root .text {
  font-size: var(--font-size-medium);
  line-height: 2.2rem;
  margin-bottom: 2.8rem;
}

.root .title {
  font-size: var(--font-size-large);
  line-height: 3.4rem;
}

.root .button {
  padding: var(--default-margin-small) 1.5vw;
}

.root .bgWrapper,
.root .bgOverlay {
  height: 23rem;
}

@media (--md-min) {
  .root {
    display: block;
  }
}
