@import '../../globals/variables.css';

:root {
  --salon-finder-bg-color: var(--color-grey-four);
}

.modalCover {
  background: var(--salon-finder-bg-color);
  height: 100%;
  margin: 0;
  width: 100vw !important;

  & > i {
    color: var(--color-grey-one);
    display: block !important;
  }

  & i {
    display: block !important;
  }

  & > div {
    padding: 0;
  }
}

.overlay {
  padding: 0;
}

.closeText {
  cursor: pointer;
  position: absolute;
  right: 4rem;
  top: 1rem;

  & + * {
    overflow: scroll !important;
  }
}
