@import '../../globals/variables.css';

.root {
  display: block;
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: var(--screen-xl);
  min-height: 30rem;
  padding: 4rem var(--default-padding-large);
}
