@import '../../globals/variables.css';

:root {
  --banner-color: var(--color-primary);
  --banner-content-column: 10;
  --banner-button-column: 6;
  --banner-button-column-mobile: 14;
  --banner-v-padding: 9rem;
}

.root {
  align-items: flex-start;
  background: var(--color-grey-four);
  color: var(--banner-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--default-margin-larger) var(--default-padding-large);
}

.content {
  margin-bottom: var(--default-margin-larger);
  text-decoration: none;
  width: 100%;

  &:hover {
    text-decoration: none;
  }

  & h3 {
    margin-bottom: var(--default-margin-small);
  }

  & p {
    color: var(--color-grey-one);
    font-size: var(--font-size-base);
  }
}

.action a {
  background-color: var(--color-white);
  color: var(--color-grey-one);
}

@media (--md-min) {
  .action,
  .content {
    margin-bottom: 0;
  }

  .content {
    width: calc(var(--default-column-width) * var(--banner-content-column));

    & p {
      font-size: var(--font-size-medium);
    }
  }

  .root {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--banner-v-padding) var(--default-padding-large);
  }
}
