@import '../../globals/variables.css';

.root {
  background-color: var(--color-grey-five);
  height: 100%;
  left: 0;
  overflow-x: auto;
  position: fixed;
  top: 130%;
  -webkit-transition: top ease-out 0.3s;
  transition: top ease-out 0.3s;
  width: 100vw;
  z-index: 2;
}

.root.show {
  top: 0;
}

.root .stickyClosing {
  position: static !important;
}

.productSpecs {
  -webkit-box-pack: center;
  color: var(--color-grey-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.productHeader {
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--default-padding-small) 0;
}

.productHeader .content {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: var(--default-column-width);
}

.productHeader .productImage {
  height: var(--default-column-width);
  margin-left: var(--default-padding);
  margin-right: var(--default-margin-small);
  min-height: 5.4rem;
  min-width: 5.4rem;
  width: var(--default-column-width);
}

.productHeader .headerText {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.productHeader .headerText p {
  line-height: initial;
}

.productHeader .headerImage {
  width: var(--defult-column-width);
}

.productHeader .headerButton {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
  width: calc(var(--default-column-width) * 6);
}

.productHeader .productTitle {
  color: var(--color-grey-one);
  font-family: var(--default-font-family);
  font-size: var(--font-size-medium);
}

.productHeader .price {
  color: var(--color-grey-one);
  font-family: var(--default-font-family-book);
  font-size: var(--font-size-small);
  font-weight: var(--default-font-weight-regular);
  line-height: var(--default-line-height);
}

.productHeader .headerButton .button {
  display: none;
  width: 100%;
}

.productHeader .headerButton .button span {
  display: initial;
  font-size: var(--font-size-smallest);
  text-align: center;
}

.productHeader .closeButton {
  cursor: pointer;
  margin: 0 calc(var(--default-column-width) / 2) 0 var(--default-margin-larger);
}

.productHeader .closeButton p {
  display: none;
}

.productHeader .closeButton i {
  height: 1.4em;
  width: 1.4em;
}

.buttonBottom {
  background-color: white;
  display: block;
  padding: 0 calc(var(--default-column-width) / 2) var(--default-margin);
}

.content {
  width: calc(var(--default-column-width) * 18);
}

.title {
  margin-top: calc(var(--default-margin-larger) * 2);
}

.row {
  border-bottom: 1px solid var(--color-grey-three);
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: var(--default-margin-small);
  padding: calc(var(--default-padding-small)) 0;
}

.row span {
  padding: 0;
}

.specName,
.specValue {
  width: calc(var(--default-column-width) * 9);
}

.subText {
  font-size: 2.4rem;
}

.bottomContent {
  margin: calc(var(--default-margin-larger) * 3) 0;
}

.icons {
  margin-top: calc(var(--default-margin-larger) * 2);
}

.icon:not(:last-child) {
  margin-right: var(--default-margin-larger);
}

.icon img {
  min-width: calc(var(--default-margin-small) * 6);
  width: var(--default-column-width);
}

@media (--md-min) {
  .row {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: calc(var(--default-padding-small) / 2) 0;
  }

  .content {
    width: calc(var(--default-column-width) * 12);
  }

  .specName,
  .specValue {
    width: calc(var(--default-column-width) * 6);
  }

  .productHeader .closeButton p {
    display: block;
  }

  .productHeader .headerButton .button {
    display: block;
  }

  .productHeader .productImage {
    margin-left: 14.5vw;
  }

  .buttonBottom {
    display: none;
  }
}
