@import '../../globals/variables.css';

:root {
  --search-result-row-margin-bottom: 9rem;
  --search-result-row-margin-bottom-mobile: 3rem;
}

.root {
  max-width: var(--screen-xl);
  padding-left: var(--default-padding-large);
  padding-right: var(--default-padding-large);
}

.content {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  & > * {
    margin-bottom: var(--search-result-row-margin-bottom-mobile);
  }
}

.fakeItem {
  margin: 0 !important;
  width: var(--tile-width);
}

@media (--sm-min) {
  .root {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (--md-min) {
  .root {
    justify-content: space-between;

    & > * {
      margin-bottom: var(--product-list-row-margin-bottom);
    }
  }
}
