.container {
  all: initial;
  display: block;
}

.header {
  align-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 8px;
}

.wrapper {
  box-sizing: border-box;
  padding: 8px;
}

.transparent {
  background-color: #fff;
  background-image:
    linear-gradient(
      45deg,
      #efefef 25%,
      transparent 25%,
      transparent 75%,
      #efefef 75%,
      #efefef
    ),
    linear-gradient(
      45deg,
      #efefef 25%,
      transparent 25%,
      transparent 75%,
      #efefef 75%,
      #efefef
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.white {
  background-color: #fff;
}

.toggle {
  flex: 0 0 auto;
}
