@import '../../globals/variables.css';

.root {
  display: block;
}

.item {
  color: var(--color-grey-one);
  display: inline-block;
  margin-right: 1.5rem;
  max-width: 3rem;

  & a {
    padding-left: initial !important;
  }

  &:last-child {
    margin-right: 0;
  }
}
