@import '../../globals/variables.css';

:root {
  --story-background: transparent;
  --story-color: var(--color-primary);
  --story-content-width: calc(var(--default-column-width) * 10);
  --story-max-width: calc(var(--default-column-width) * 10);
  --story-media-width: calc(var(--default-column-width) * 16);
}

.root {
  background: var(--story-background);
  color: var(--story-color);
  display: block;
  padding:
    0 var(--default-column-width) var(--default-margin-larger)
    var(--default-column-width);
}

.content {
  overflow: hidden;
  width: 100%;
}

.paragraph {
  color: var(--color-grey-one);
  font-family: var(--default-font-family-book);
  font-size: var(--font-size-base);
  letter-spacing: 0.1rem;
  line-height: calc(var(--font-size-small) + 1rem);
  margin-bottom: var(--default-margin-larger);
}

.mediaWrapper {
  margin: 0 auto;
  width: var(--story-media-width);
}

@media (--md-min) {
  .root {
    padding: 0;
  }

  .content {
    margin: 0 auto;
    width: var(--story-content-width);
  }
}
