@import '../../globals/variables.css';

:root {
  --media-color: var(--color-primary);
}

.root {
  /* remove button styles */
  background: none;
  border: none;
  color: var(--media-color);
  color: inherit;
  cursor: pointer;
  display: block;
  font: inherit;
  outline: inherit;
  padding: 0;
  position: relative;

  &:hover .icon {
    color: var(--color-white);
    display: block;
  }
}

.media {
  margin: 0;
}

.caption {
  display: none;
}

.icon {
  color: var(--color-grey-three);
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity var(--trans-normal);

  &:hover {
    color: var(--color-white);
  }
}

.isPlaying .icon {
  opacity: 0;
}
