@import '../../globals/variables.css';

:root {
  --language-switcher-color: var(--color-primary);
}

.root {
  align-items: center;
  color: var(--color-grey-one);
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.root i {
  margin-right: 1.5rem;
  width: 2.6rem;
}

@media (--lg-min) {
  .root {
    margin-bottom: 0;
  }
}
