@import '../../globals/variables.css';

:root {
  --search-input-color: var(--color-primary);
}

.root {
  color: var(--search-input-color);
  display: block;
  margin-top: 0.5rem;
  position: relative;
}

.root label i {
  display: none;
}

.root .magnifier {
  color: var(--color-grey-one);
  cursor: pointer;
  margin-right: var(--default-margin-small);
  position: absolute;
  right: 0;
  top: 2rem;
  width: 3.4rem;
}

.root input {
  background-color: var(--color-white);
  border-radius: 2px;
  font-family: var(--default-font-family-book);
  font-size: var(--font-size-base);
  font-weight: var(--default-font-weight-light);
  letter-spacing: calc(var(--default-letter-spacing) / 3);
  line-height: 4.5rem;
  padding-left: var(--default-margin);
  padding-right: 4.4rem;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-grey-two);
  }
}

@media (--lg-min) {
  .root .magnifier {
    margin-right: var(--default-margin-smaller);
    top: 1.1rem;
    width: 3rem;
  }

  .root input {
    background-color: var(--color-grey-four);
    color: var(--color-grey-two);
    font-size: var(--font-size-small);
    line-height: var(--font-size-small);
    padding-bottom: 1.1rem;

    &:active,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-grey-one);
    }
  }
}
