@import '../../../globals/variables.css';

.root {
  display: block;
}

.mobileNavHeader {
  background: var(--color-grey-four);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: var(--default-margin) var(--default-column-width) 0 var(--default-column-width);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.iconsSection {
  display: flex;
  justify-content: space-between;

  & i {
    height: 3rem;
    width: 3rem;
  }
}

.nav {
  padding: var(--default-margin-larger) 0;

  & a {
    text-align: left;
    text-decoration: none;
  }

  & li {
    margin-bottom: var(--default-margin);
  }
}

/*
.user {
  margin-top: auto;
  text-align: left;

  & a {
    text-decoration: none;
  }
}
*/

.menuContainer {
  flex: 1;
}

.isMainNavHidden {
  transform: translate(calc(-120% - var(--default-margin-larger)), 0);
}

.mainNavWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

@media (--lg-min) {
  .root {
    display: none;
  }
}
