@import '../../../globals/variables.css';

:root {
  --double-product-tile-width: calc(calc(var(--tile-width) * 2) + calc(var(--product-list-tile-gutter))); /* two product tile + 1 product tile gutter */
}

.root {
  background: gainsboro;
  max-width: initial !important;
  min-width: initial !important;
}

@media (--sm-min) {
  .root {
    width: calc(var(--tile-width) * 4) !important;
  }
}

@media (--md-min) {
  .root {
    width: var(--double-product-tile-width) !important;
  }
}
