@import '../../globals/variables.css';

.root {
  clear: both;
  max-width: var(--screen-xl);
  padding-left: var(--default-padding-large);
  padding-right: var(--default-padding-large);
}

.fullWidth {
  max-width: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (--xl-min) {
  .root {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Spacer classes */
:global(.spacerOne) {
  margin-bottom: 1.6rem;
}

:global(.spacerTwo) {
  margin-bottom: 3rem;
}

:global(.spacerThree) {
  margin-bottom: 6rem;
}

:global(.spacerFour) {
  margin-bottom: 9rem;
}

@media (--lg-min) {
  :global(.spacerOne) {
    margin-bottom: 3rem;
  }

  :global(.spacerTwo) {
    margin-bottom: 6rem;
  }

  :global(.spacerThree) {
    margin-bottom: 9rem;
  }

  :global(.spacerFour) {
    margin-bottom: 12rem;
  }
}
