@import '../../../globals/variables.css';

:root {
  --salon-search-input-search-icon-mobile-size: 4rem;
  --salon-search-input-search-icon-size: 6rem;
  --salon-search-input-font-size: 3.2rem;
}

.root {
  align-content: center;
  align-items: center;
  background: var(--color-white);
  display: flex;
  margin: var(--default-margin-larger) 0;
  position: relative;

  & input {
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-grey-one);
    font-family: var(--default-font-family-book);
    font-size: var(--font-size-base);
    font-weight: var(--default-font-weight-regular);
    letter-spacing: var(--default-letter-spacing);
    line-height: 5rem;
    outline: none;
    padding: 1rem 2rem;
    width: 100%;
  }

  & i {
    color: var(--color-grey-one);
    margin-right: var(--default-margin);
    width: var(--salon-search-input-search-icon-mobile-size);
  }

  & ::placeholder {
    color: var(--color-grey-two);
  }
}

.autocompleteDropdownContainer {
  background: var(--color-white);
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
}

.suggestionItem {
  padding: 0 2rem;

  & > * {
    line-height: 5rem !important;
  }
}

.suggestionItemActive {
  background: var(--color-grey-four);
}

@media (--md-min) {
  .root {
    & input {
      font-size: var(--salon-search-input-font-size);
    }

    & i {
      width: var(--salon-search-input-search-icon-size);
    }
  }
}
