@import '../../globals/variables.css';

:root {
  --product-carousel-content-width: calc(var(--default-column-width) * 4);
  --product-carousel-swiper-width: calc(var(--default-column-width) * 14);
  --product-carousel-v-padding: 6rem;
  --product-carousel-control-button-size: 6.4rem;
  --product-carousel-control-hover-width: 7.5vw;
  --product-carousel-background: transparent;
}

.root {
  background: var(--product-carousel-background);
  display: block;
  padding: var(--product-carousel-v-padding) 0;
}

.themeLight {
  background: transparent;
}

.themeDark {
  background: var(--color-grey-four);
}

.swiperWrapper {
  overflow: hidden;
  position: relative;

  & > div {
    position: static;
  }
}

.contentWrapper {
  padding: 0 var(--default-padding);
}

.ctaButton {
  display: none;
}

.contentText {
  display: none;
}

.prevWrapperClass,
.nextWrapperClass {
  display: none;
}

.mobileCTAWrapper {
  padding: 0 var(--default-padding);

  & > * {
    display: table;
  }
}

@media (--md-min) {
  .root {
    display: flex;
    justify-content: space-between;
    padding-left: var(--default-padding-large);
  }

  .ctaButton {
    display: block;

    & i {
      margin: 0 0 -0.9rem 0 !important; /* button icon goes outside of button borders between this resolutions */
    }
  }

  .contentWrapper {
    padding: 0;
    width: var(--product-carousel-content-width);
  }

  .swiperWrapper {
    width: var(--product-carousel-swiper-width);
  }

  .contentText {
    display: block;
    margin-bottom: var(--default-margin-larger);
  }

  .prevWrapperClass,
  .nextWrapperClass {
    align-items: center;
    cursor: default;
    display: flex;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: var(--product-carousel-control-hover-width);
    z-index: 2;

    & > button {
      padding-left: var(--default-margin-small);
      position: relative;
    }
  }

  .prevWrapperClass {
    left: 0;

    & i {
      transform: rotate(180deg);
    }

    & > button {
      left: -100%;
      transition: 0.15s all ease;
    }

    &:hover {
      & > button {
        left: 0;
      }
    }
  }

  .nextWrapperClass {
    justify-content: flex-end;
    right: 0;

    & > button {
      right: -100%;
      transition: 0.15s all ease;
    }

    &:hover {
      & > button {
        right: 0;
      }
    }
  }

  .nextButton,
  .prevButton {
    box-shadow: var(--shadow-box);
    height: var(--product-carousel-control-button-size);
    padding: 0;
    width: var(--product-carousel-control-button-size);

    & i {
      margin: 0;
    }

    & :global(.inner) {
      margin-top: 0.9rem;
    }
  }

  .mobileCTAWrapper {
    display: none;
  }
}

@media (--lg-min) {
  .ctaButton i {
    margin: 0 0 -0.9rem 2.5rem !important; /* button icon goes outside of button borders between this resolutions */
  }
}
