@import '../../../../globals/variables.css';

:root {
  --breadcrumb-font-size: 1.8rem;
  --breadcrumb-item-transition-offset: 1rem;
}

.root {
  height: 100%;
  left: 0;
  overflow: scroll;
  position: absolute;
  text-align: left;
  top: 5rem;
  transform: translate(0, 0);
  transition: transform var(--trans-slow);
  width: 100%;

  & a {
    text-decoration: none;
  }
}

.tabContentWrapper {
  position: relative;
}

.root :global(.react-tabs__tab-panel) {
  left: -100vw;
  padding: 0 var(--default-column-width);
  position: absolute;
  top: 0;
  transition: all 500ms ease-in-out;
}

.root :global(.react-tabs__tab-panel--selected) {
  left: 0;
}

.root :global(.react-tabs__tab--selected) {
  padding-bottom: 0.6rem;

  & span {
    border-bottom: 1px solid var(--color-grey-one);
    padding-bottom: 0.5rem;
  }
}

.root :global(.react-tabs__tab-list) {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  top: 0.3rem;

  &::before {
    background-image: linear-gradient(to right, rgba(243, 243, 243, 1), transparent);
    content: '';
    height: 100%;
    left: -1px;
    position: absolute;
    top: 0;
    width: 10px;
    z-index: 2;
  }

  & > * {
    width: 100%;
  }
}

.root :global(.react-tabs__tab) {
  white-space: nowrap;

  & > * {
    font-size: 1.8rem !important;
  }
}

.root :global(.tab-content-enter) {
  left: 100vw;
  position: relative;
}

.root :global(.tab-content-enter-active) {
  left: 0;
  transition: all var(--trans-slow);
}

.root :global(.tab-content-exit) {
  left: 0;
  position: relative;
  transform: translateX(0);
}

.root :global(.tab-content-exit-active) {
  left: 100vw;
  transition: all var(--trans-slow);
}

.root :global(.breadcrumb-item-enter) {
  left: var(--breadcrumb-item-transition-offset);
  opacity: 0;
  position: relative;
}

.root :global(.breadcrumb-item-enter-active) {
  left: 0;
  opacity: 1;
  transition: all var(--trans-slow);
}

.root :global(.breadcrumb-item-exit) {
  left: 0;
  opacity: 1;
  position: relative;
  transform: translateX(0);
}

.root :global(.breadcrumb-item-exit-active) {
  left: var(--breadcrumb-item-transition-offset);
  opacity: 0;
  transition: all var(--trans-slow);
}

.root :global(.swiper-wrapper) {
  display: flex;
  padding-left: var(--default-margin-small);
}

.root :global(.swiper-slide) {
  width: auto;

  &:last-child {
    padding-right: var(--default-column-width);
  }
}

.navItemWrapper {
  margin-bottom: var(--default-margin);
}

.arrowIcon {
  height: 4rem !important;
  transform: rotate(180deg);
  width: 4rem !important;
}

.breadcrumbWrapper {
  align-items: center;
  display: flex;
  overflow: hidden;
  padding: var(--default-margin-larger) 0 5rem var(--default-column-width);

  & ul {
    margin: 0;
  }
}

.isSubNavCarouselHidden {
  transform: translate(100%, 0);
}
