@import '../../../globals/variables.css';

:root {
  --graph-bar-color: var(--color-primary);
}

.root {
  color: var(--graph-bar-color);
  display: block;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.box {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-three);
  border-radius: 0.2rem;
  display: -webkit-inline-box;
  height: 1.2rem;
  width: 1.2rem;
}

.full {
  background-color: var(--color-grey-two);
  border: none;
}

.box:not(:last-child) {
  margin-right: 0.5rem;
}
