@import '../../globals/variables.css';

:root {
  --text-font-family: var(--default-font-family);
  --text-font-weight-light: var(--default-font-weight-light);
  --text-font-weight-regular: var(--default-font-weight-regular);
}

.root {
  font-family: var(--text-font-family);
  letter-spacing: var(--default-letter-spacing);
}

.gutterBottom {
  margin-bottom: var(--default-margin-larger);
}

/* Titles general - 40 PT Futura PT - Medium Character Spacing 100 Line Spacing 42 */
.display1 {
  font-size: var(--font-size-extra-extra-large);
  font-weight: var(--default-font-weight-regular);
  letter-spacing: var(--default-letter-spacing-title);
  line-height: calc(var(--font-size-extra-extra-large) + 0.2rem);
}

/* Titles over Category images - 34 PT Futura PT - Medium Character Spacing 100 Line Spacing 38 */
.display2 {
  font-size: var(--font-size-extra-large);
  font-weight: var(--default-font-weight-regular);
  letter-spacing: var(--default-letter-spacing-title);
  line-height: calc(var(--font-size-extra-large) + 0.4rem);
}

.display3 {
  font-size: var(--font-size-large);
  font-weight: var(--default-font-weight-regular);
  letter-spacing: var(--default-letter-spacing-title);
  line-height: calc(var(--font-size-large) + 0.8rem);
}

/* Subtitles - 20 PT BentonModDisp - RegularItalic Character Spacing 50 */
.headline {
  color: var(--color-grey-two);
  font-family: var(--default-font-family-secondary);
  font-size: var(--font-size-base);
  font-style: italic;
  font-weight: var(--default-font-weight-regular);
  letter-spacing: var(--default-letter-spacing-title);
  line-height: calc(var(--font-size-large) + 0.4rem);
}

/* Subtitles - 16 PT Futura PT - Medium Character Spacing 100 */
.subheading {
  font-size: var(--font-size-base);
  font-weight: var(--default-font-weight-regular);
  letter-spacing: var(--default-letter-spacing-title);
  line-height: 2.2rem;
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--default-font-weight-regular);
  letter-spacing: var(--default-letter-spacing-title);
  line-height: calc(var(--font-size-large) + 0.4rem);
}

/* Body Text Product pages - 16 PT Futura PT - Book Character Spacing 50 Line Spacing 22 */
.body1 {
  font-family: var(--default-font-family-book);
  font-size: var(--font-size-small);
  font-weight: var(--default-font-weight-regular);
  line-height: calc(var(--font-size-small) + 1rem);
}

/* Body Texts - 20 PT Futura PT Book Character Spacing 50 Line Spacing 30 */
.body2 {
  font-family: var(--default-font-family-book);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight-regular);
  line-height: var(--default-line-height);
}

.caption {
  color: var(--color-grey-two);
  font-family: var(--default-font-family-book);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight-regular);
  text-align: left;
}

@media (--lg-min) {
  /* Subtitles - 24 PT BentonModDisp - RegularItalic Character Spacing 50 */
  .headline {
    font-size: 2.4rem;
  }

  .display3 {
    line-height: calc(var(--font-size-large) + 0.4rem);
  }

  .subheading {
    font-size: var(--font-size-small);
  }
}
