@import '../../globals/variables.css';

.root {
  display: block;
  margin-bottom: calc(var(--default-margin-larger) * 2);
}

.link {
  align-items: center;
  cursor: pointer;
  display: flex !important;
  font-size: 1.8rem !important;
  padding: 0 !important;
}

.icon {
  display: inline-block;
  margin-left: 5px;
  max-width: 30px;
}
