@import '../../../globals/variables.css';

.root {
  display: flex;
  justify-content: center;

  &:hover {
    background: var(--color-grey-four);
  }
}

@media (--sm-min) {
  .root {
    width: calc(var(--tile-width) * 2);
  }
}

@media (--md-min) {
  .root {
    width: var(--tile-width);
  }
}
