@import '../../globals/variables.css';

:root {
  --range-hero-color: var(--color-primary);
  --range-hero-container-height: 34.8rem;
}

.root {
  color: var(--range-hero-color);
  display: flex;
  flex-direction: column;
}

.root .contentWrapper {
  background-color: var(--color-grey-four);
  height: var(--range-hero-container-height);
  order: 2;
  padding: 0;
}

.root .content {
  margin: 0;
  padding: var(--default-margin-larger) var(--default-padding-large);
}

.root .subtitle {
  margin-bottom: var(--default-margin-small);
}

.root .text {
  font-size: var(--font-size-medium);
  line-height: 2.2rem;
  margin-bottom: 2.8rem;
}

.root .themeDark {
  color: var(--color-grey-one);

  & h1 {
    color: var(--color-grey-one);
  }
}

.root .themeLight {
  color: var(--color-grey-one);

  & h1 {
    color: var(--color-grey-one);
  }
}

.root .bgWrapper {
  position: static;
}

.root .bg,
.root .bg img {
  order: 1;
  position: static;
}

.root .button {
  background-color: var(--color-white-alt);
  color: var(--color-grey-one);

  &:hover,
  &:focus {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &:active {
    background-color: var(--color-grey-three-alt);
    color: var(--color-secondary-two);
  }
}

@media (--md-min) {
  .root {
    display: block;
  }

  .root .contentWrapper {
    background-color: initial;
  }

  .root .bgWrapper {
    position: absolute;
  }

  .root .bg,
  .root .bg img {
    order: 1;
    position: absolute;
  }

  .root .themeLight {
    color: var(--color-white);

    & h1 {
      color: var(--color-white);
    }
  }
}
