@import '../../globals/variables.css';

:root {
  --input-color: var(--color-primary);
}

.root {
  color: var(--input-color);
  display: block;
}

.root .input {
  background-color: var(--color-white);
  font-family: var(--default-font-family-book);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight-light);
  letter-spacing: var(--default-letter-spacing);
  line-height: var(--default-font-size);
  padding: 3rem 2.2rem;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-grey-two);
  }
}

.root label i {
  display: none;
}
