@import '../../../globals/variables.css';

:root {
  --application-form-color: var(--color-primary);
}

.root {
  background-color: var(--color-grey-four);
  color: var(--application-form-color);
  display: block;
}

.root .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10vw;
}

.root .leftCell {
  flex-flow: column !important;
}

.root .leftCell > * {
  flex: initial !important;
}

.root .formCell {
  display: flex;
  flex-direction: column;
}

.root .formCell > * {
  margin-bottom: var(--default-margin);
}

.root .formRow {
  display: initial;
}

.root .leftCol {
  margin-bottom: var(--default-margin);
}

.root .checkbox {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.root .checkbox p {
  color: var(--color-grey-one);
  margin-left: calc(var(--default-margin) * 2);
}

.root .button {
  margin: calc(var(--default-margin-larger) * 2) 0;
  margin-right: 20vw;
}

.root .submitMessage {
  margin: calc(var(--default-margin-larger) * 2) 0;
}

.root .submitMessage p {
  color: var(--color-grey-one);
  margin-top: var(--default-margin-small);
}

.root .plusCell {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.root .plusIcon {
  background-color: white;
  border-radius: 3rem;
  box-shadow: var(--shadow-box-bottom) !important;
  color: var(--color-grey-one);
  height: 3rem;
  margin-left: 1.2rem;
  width: 3rem;
}

.root .plusCell strong {
  color: var(--color-grey-one);
  font-size: 1.2rem;
}

@media (--md-min) {
  .root .form {
    flex-direction: initial;
  }

  .root .formCell {
    width: 33vw;
  }

  .root .formRow {
    display: flex;
    flex-direction: row;
  }

  .root .plusCell {
    justify-content: flex-end;
  }

  .root .rightCol {
    margin-left: 3rem;
    min-width: 57%;
  }

  .root .leftCol {
    margin-bottom: 0;
  }
}
