@import '../../globals/variables.css';

:root {
  --default-logo-desktop: 6.675rem; /* 66.75px */
  --default-logo-mobile: 3.492rem; /* 35px */
  --default-logo-sticked: 5.2rem; /* 47.59px */
  --header-sticked-logo-height: 3.8rem;
}

/* stylelint-disable */
:export {
  headerheight: var(--header-height);
  headerheightsmall: var(--header-height-small);
}
/* stylelint-enable */

.root {
  background: var(--color-grey-five);
  display: block;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  text-align: center;
  z-index: 2;
}

html.noScroll {
  overflow: hidden;
}

.hideMobile {
  display: none;
}

.hideDesktop {
  display: block;
}

.top {
  display: none;
}

.toggle {
  margin: 1.5rem 0 0 var(--default-column-width);
  outline: none;
}

.toggle i {
  font-size: 2rem;
  width: 2.8rem;
}

.actions {
  width: 6.9rem;
}

.main {
  display: none;
}

.small {
  background-color: var(--color-grey-five);
  display: flex;
  justify-content: space-between;
  padding: 0 0 var(--default-margin-small) 0;
}

.logo {
  height: var(--default-logo-mobile);
  margin-top: var(--default-margin-small);
}

.logo img {
  height: var(--default-logo-mobile);
}

.isOpen {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.isOpen .main {
  display: flex;
  flex-direction: column;
}

.searchInput {
  margin-left: 5vw;
  position: absolute;
  width: 34rem;
}

/*
.isOpen .nav {
  background: #f9f9f9;
  height: 100vh;
  overflow: auto;
  position: absolute;
  top: 0;
}
*/

.root.compact {
  padding: 0;
}

.root.compact .small {
  padding: 2rem 0;
}

.root.compact .logo {
  display: inline-block;
  height: var(--default-logo-desktop);
  margin: 0 auto;
  text-align: center;
  transition: height ease 0.3s;
}

.root.compact .logo img {
  height: var(--default-logo-desktop);
  transition: height ease 0.3s;
  width: 10rem;
}

@media screen and (--lg-min) {
  .root {
    background-color: var(--color-grey-five);
    padding: var(--default-margin-small) 0 0 0;
    top: 0;
    z-index: 10;
  }

  .hideMobile {
    display: inline-block;
  }

  .hideDesktop {
    display: none;
  }

  .main {
    display: flex;
    height: var(--header-main-height);
    justify-content: space-between;
    padding: 0 var(--default-padding-container);
  }

  .small {
    padding: 0 0 var(--default-margin) 0;
  }

  /* @TODO this is a rather ugly fix to have logo centered on desktop */
  .actions {
    width: 0;
  }

  .logo {
    display: inline-block;
    height: var(--default-logo-desktop);
    margin: 0 auto;
    text-align: center;
    transition: height ease 0.3s;
  }

  .logo img {
    height: var(--default-logo-desktop);
    transition: height ease 0.3s;
  }

  .stickedLogo {
    height: var(--header-sticked-logo-height);
    overflow: hidden;
  }

  .stickedLogo img {
    height: var(--default-logo-sticked);
  }

  .top {
    color: var(--default-font-color);
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: var(--default-margin-small) var(--default-padding-container) 0;
  }

  .top a {
    color: var(--color-grey-one);
    font-size: var(--font-size-smaller);
    line-height: calc(var(--font-size-smaller) + 0.4rem);
    margin: 0 1.5rem 0 1.5rem;
    position: relative;
    text-decoration: none;

    &::after {
      background: var(--color-grey-one);
      content: '';
      height: 0.1rem;
      left: 0;
      position: absolute;
      top: 2.8rem;
      transition: 0.16s;
      width: 0%;
    }

    &:hover {
      color: var(--color-grey-one);
      text-decoration: none;
    }

    &:hover::after {
      width: 100%;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .root.compact .logo img {
    width: 12rem;
  }

  .root.compact .small {
    padding: 3rem 0;
  }
}
