@import '../../globals/variables.css';

.root {
  align-items: center;
  display: flex;

  & > button {
    padding: 1.4rem 8rem;
  }
}

/* .itemCountControls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem;
  width: 12.8rem;

  & span {
    align-items: center;
    display: flex;
    outline: none;
  }
} */
