@import '../../globals/variables.css';

.root {
  font-family: var(--default-font-family-book);
  font-size: var(--font-size-small);
  letter-spacing: var(--default-letter-spacing);
  line-height: 4rem;
  margin-top: var(--default-margin-small);
}

.root label {
  font-family: inherit;

  &::before {
    background-color: var(--color-white);
    box-shadow: var(--shadow-box-bottom) !important;
    height: 2.5rem;
    width: 2.5rem;
  }

  &::after {
    border: 0 solid var(--color-grey-one);
    border-width: 0 0.4rem 0.4rem 0;
    box-shadow: var(--shadow-box-bottom) !important;
    height: 3.5rem;
    left: 0.4rem;
    width: 1.9rem;
  }
}

.root label span {
  color: var(--color-grey-one);
  line-height: 2.8rem;
  margin-left: var(--default-margin) !important;
}
