@import '../../globals/variables.css';

:root {
  --cookie-popup-color: var(--color-primary);
}

.root {
  background-color: var(--color-grey-five);
  color: var(--cookie-popup-color);
  display: block;
  width: 50vw;
}

.root .popupContent {
  padding: var(--default-margin-small);
}

.root .button {
  margin-top: 4rem;
  padding: var(--default-margin-small);
  width: 100%;
}

.root .text {
  color: var(--color-grey-one);
  font-family: var(--default-font-family-book);
  margin-bottom: var(--default-margin-small);
}

.root .checkbox {
  width: 50%;
}

:global(.ReactModal__Overlay) {
  background-color: rgba(0, 0, 0, 0.2) !important;
  justify-content: flex-end;
  padding: 0;
}

:global(.ReactModal__Content) {
  width: 100%;
}

:global(.ReactModal__Content i) {
  display: none;
}

@media (--md-min) {
  .root .popupContent {
    padding: var(--default-margin-larger);
  }

  :global(.ReactModal__Overlay) {
    justify-content: center;
  }

  :global(.ReactModal__Content) {
    width: 50vw;
  }

  .root .button {
    width: 18rem;
  }
}
