@import '../../../globals/variables.css';

:root {
  --tile-mobile-width: 24rem;
  --tile-width: 26rem;
}

.root {
  display: block;
  width: var(--tile-mobile-width) !important;
}

/* if bg is dark, tile should be lighter on hover */
.themeDark {
  &:hover {
    background: var(--color-grey-five);
  }
}

/* if bg is white, tile should be grey on hover */
.themeLight {
  &:hover {
    background: var(--color-grey-four);
  }
}

@media (--sm-min) {
  .root {
    width: var(--tile-width) !important;
  }
}
