@import '../../globals/variables.css';

:root {
  --pdp-hero-background: transparent;
  --pdp-hero-color: var(--color-primary);
}

.root {
  background-color: var(--pdp-hero-background);

  & > * {
    width: 100%;
  }
}

.packshotWrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.labelContainer {
  display: flex;
  margin-bottom: var(--default-margin-larger);

  & > * {
    background: var(--color-grey-three);
    border-radius: 2px;
    color: var(--color-grey-two);
    display: table !important;
    padding: 0 0.9rem;
  }

  & > *:not(:last-child) {
    margin-right: var(--default-margin);
  }
}

.category {
  font-size: 1.6rem !important;
  margin-bottom: var(--default-margin-small) !important;
}

.quantity {
  font-size: 1.6rem !important;
  margin-right: 1rem;
}

.reference {
  color: var(--color-grey-two);
  line-height: 4.2rem !important;
}

.content {
  padding: var(--default-margin-large) var(--default-column-width);
}

.contentInner {
  display: flex;
  flex-direction: column-reverse;
}

.suitable {
  margin-bottom: var(--default-margin);
}

.productInfo {
  display: flex;
}

.root .price {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: var(--default-margin-small);
}

.richText {
  font-family: var(--default-font-bodytext);
  font-size: var(--font-size-small);
  line-height: 2.6rem;
  margin-bottom: var(--default-margin);
}

.scrollTo {
  display: none;
}

.locationBtn {
  padding: 1.8rem 3.6rem;
}

.locationBtn :global(.inner) {
  align-items: center;
  display: flex;
  justify-content: center;

  & > * {
    font-size: var(--font-size-smaller);
  }

  & i {
    height: 2.8rem;
    margin: 0;
    margin-left: var(--default-margin-small);
    width: 3.2rem;
  }
}

.priceSection {
  margin-bottom: var(--default-margin-larger);
}

@media (--md-min) {
  .root {
    flex-direction: row;
    padding: var(--default-margin-larger) var(--default-column-width);
  }

  .swiper {
    width: calc(var(--default-column-width) * 9);
  }

  .packshotWrapper {
    flex-direction: row;
  }

  .contentInner {
    flex-direction: column;
  }

  .root .price {
    margin-top: var(--default-margin-large);
  }

  .priceSection {
    margin-bottom: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--default-column-width);
    text-align: left;
    width: calc(var(--default-column-width) * 9);
  }

  .scrollTo {
    display: block;
    margin-top: var(--default-margin-larger);
    text-align: center;

    & a {
      color: var(--color-grey-three);
    }
  }
}
