@import '../../globals/variables.css';

:root {
  --bottom-spacer: 8.3rem;
  --footer-v-padding: calc(var(--default-margin-larger) * 2);
}

.root {
  background: var(--color-white);
  display: block;
  font-family: var(--default-font-family);
  padding: var(--footer-v-padding) 0;
}

.inner a,
.inner p {
  padding: var(--default-margin-small) 0;
}

.inner a {
  font-size: 1.6rem;
  padding-left: 1.8rem;
  text-decoration: none;
}

.main .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--default-padding-container);
}

.main .title {
  font-size: var(--font-size-medium);
}

.socialCol {
  margin-top: 0;
}

.main h2 {
  color: var(--color-grey-one);
  font-size: 1.8rem;
  margin-bottom: var(--default-margin-small);
}

.bottom .inner {
  color: var(--color-grey-one-alt);
  flex-direction: column-reverse;
  font-family: var(--default-font-family-book);
  font-size: var(--font-size-small);
}

.bottom .inner a {
  display: block;
  margin: 2rem 0;
  padding: 0;
}

.logo {
  display: block;
  margin: 10.8rem auto 0;
  width: 10.5rem;
}

footer .payoff {
  color: var(--color-grey-one);
  padding: var(--default-margin) 0;
  text-align: center;
}

.bottom {
  margin-top: 2rem;
}

.accordionTitle > div {
  padding: 0 !important;
}

.accordionTitle > input {
  cursor: initial !important;
}

/* @TODO fix the icon: it is not rotating around its center */
.accordionTitle i {
  font-size: 2rem;
  transform: rotate(45deg) translate(-1.2rem, 0);
}

.accordionTitle input:checked ~ div div i {
  transform: rotate(0deg) translate(-1.2rem, -1.2rem);
}

@media (--lg-min) {
  .bottom .inner {
    flex-direction: column;
  }

  .fiveCol {
    width: calc(var(--default-column-width) * 5);
  }

  .threeCol {
    width: calc(var(--default-column-width) * 3);
  }

  .fourCol {
    width: calc(var(--default-column-width) * 4);
  }

  .socialCol {
    margin-left: var(--default-column-width);
    margin-top: 0;
    width: calc(var(--default-column-width) * 5);
  }

  .bottom .inner a {
    display: inline-block;
    margin-left: 2.5rem;
    padding: 1rem 0;
  }

  .inner a {
    padding-left: 0;
  }

  .main .inner {
    flex-direction: row;
  }

  .bottom {
    margin-top: var(--bottom-spacer);
  }
}
