@import '../../globals/variables.css';

:root {
  --tile-max-width: 60rem;
  --tile-min-width: 20rem;
  --tile-content-v-padding: 1.5rem;
  --tile-mediaWrapper-height: 130%;
  --tile-mediaWrapper-height-large: 100%;
  --tile-mediaWrapper-mobile-height: 100%;
}

.root {
  display: inline-block;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.content {
  padding: var(--tile-content-v-padding) var(--default-margin) var(--tile-content-v-padding) var(--default-margin);
}

.root .title {
  color: var(--color-grey-one);
}

.productText {
  color: var(--color-grey-one);
  font-size: 1.4rem !important;
  font-size: var(--font-size-smaller);
  margin: 0 !important;
}

.mediaWrapper {
  margin: 0;
  overflow: hidden;
  padding-bottom: var(--tile-mediaWrapper-mobile-height);
  position: relative;

  & img {
    height: 100%;
    left: 50%;
    margin: auto;
    position: absolute !important;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}

.priceSection {
  display: flex;
  justify-content: space-between;

  & span {
    color: var(--color-grey-two);
    font-size: var(--font-size-smaller);
  }

  & i {
    height: auto;
    width: 1.8rem;
  }
}

@media (--sm-min) {
  .root {
    width: 100%;
  }
}

@media (--xxl-min) {
  .mediaWrapper {
    padding-bottom: var(--tile-mediaWrapper-height-large);

    & img {
      max-height: 45rem;
      max-width: 45rem;
    }
  }
}
