@import '../../../globals/variables.css';

:root {
  --address-card-color: var(--color-grey-five);
  --address-card-width: calc(var(--default-column-width) * 6);
  --address-card-width-tablet: calc(var(--default-column-width) * 7);
  --address-card-text-horizontal-spacing: 0.5rem;
  --address-card-box-shadow: 0 1px 0 0 rgba(216, 216, 216, 1);
  --address-card-border-radius: 3px;
}

.root {
  background: var(--address-card-color);
  border-radius: var(--address-card-border-radius);
  box-shadow: var(--address-card-box-shadow);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: var(--default-margin-small) 1.8rem;

  &:hover {
    background: var(--color-white);
  }
}

.more {
  display: block;
}

.root :global(.addressCardMore-enter),
.more {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.root :global(.addressCardMore-enter-done),
.root :global(.addressCardMore-enter-active) {
  max-height: 350px;
  opacity: 1;
}

.root :global(.addressCardMore-exit) {
  max-height: 350px;
  opacity: 1;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.root :global(.addressCardMore-exit-done),
.root :global(.addressCardMore-exit-active) {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.title * {
  font-size: var(--font-size-medium) !important;
  line-height: var(--default-line-height) !important;
  margin-bottom: 0.5rem !important;
}

.infoButtons {
  border-bottom: 1px solid var(--color-grey-three);
  display: flex;
  margin-bottom: var(--default-margin-small);
  padding-bottom: var(--default-margin);

  & > * {
    background: var(--color-grey-four);
    padding-bottom: var(--default-margin-small) !important;
    padding-top: var(--default-margin-small) !important;
  }

  & > *:not(:last-child) {
    margin-right: var(--default-margin-larger);
  }
}

.closeBlock {
  & i {
    height: 2rem;
    transform: rotate(45deg);
    transition: transform var(--trans-slow);
    width: 2rem;
  }
}

.expanded i {
  transform: rotate(360deg);
}

.city {
  display: inline;
}

.expandedBlock {
  background: var(--color-white);

  & .city {
    display: none;
  }
}

.brands {
  margin-bottom: var(--default-margin);

  & span {
    display: block;
    font-weight: normal !important;
  }

  & > * {
    font-size: 1.5rem;
    font-weight: bold !important;
  }
}

.addressBlock {
  margin: var(--default-margin-small) 0;
}

.addressLine {
  display: block;
}

.distanceNumber {
  margin-right: var(--address-card-text-horizontal-spacing);

  & > * {
    color: var(--color-grey-two) !important;
    font-size: var(--font-size-base) !important;
  }
}

.contentBlock {
  flex: 1;

  & i {
    height: 1.6rem;
    width: 1.6rem;
  }
}

.distance {
  align-items: center;
  color: var(--color-grey-two);
  display: flex;
  margin-top: var(--default-margin-small);
}

.textWithIcon {
  align-items: center;
  color: var(--color-grey-two);
  display: flex;
  line-height: 1.6rem;

  & > *:not(:last-child) {
    margin-right: var(--address-card-text-horizontal-spacing);
  }
}

.phoneNumber {
  align-items: center;
  display: flex;
  margin-right: var(--default-margin-small) !important;

  & i {
    margin-right: 0.5rem;
  }
}

@media (--md-min) {
  .root {
    width: var(--address-card-width-tablet);
  }
}

@media (--lg-min) {
  .root {
    width: var(--address-card-width);
  }
}
