@import '../../globals/variables.css';

:root {
  --title-background-color: transparent;
  --title-color: var(--color-primary);
}

.root {
  background-color: var(--title-background-color);
  color: var(--title-color);
  display: block;
}

.content {
  padding:
    calc(var(--default-margin-large) * 2) var(--default-column-width)
    calc(var(--default-margin-large) * 3);
}

@media (--lg-min) {
  .content {
    padding:
      var(--default-margin-larger) calc(var(--default-column-width) * 3)
      calc(var(--default-margin-large) * 2);
  }
}
