@import '../../../../globals/variables.css';

.root {
  bottom: 2.5rem;
  display: block;
  position: absolute;
  right: 0;
}

.sub {
  display: none;
}

@media (--lg-min) {
  .sub {
    color: var(--default-font-color);
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  .sub a {
    color: var(--color-grey-one);
    font-size: var(--font-size-small);
    margin: 0 1.5rem 0 1.5rem;
    position: relative;
    text-decoration: none;

    &::after {
      background: var(--color-grey-one);
      content: '';
      height: 0.1rem;
      left: 0;
      position: absolute;
      top: 2.8rem;
      transition: 0.16s;
      width: 0%;
    }

    &:hover {
      color: var(--color-grey-one);
      text-decoration: none;
    }

    &:hover::after {
      width: 100%;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
