@import '../../globals/variables.css';

:global(.ReactModal__Overlay) {
  background-color: rgba(0, 0, 0, 0.9);
}

.root {
  display: block;
  font-family: var(--default-font-family);
}

@-webkit-keyframes modalFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes modalFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.modal {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: modalFade;
  animation-name: modalFade;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal i {
  color: var(--color-white);
  margin: 1rem 5.5rem 0 0;
  width: 20px;

  &:hover {
    color: var(--color-white);
  }
}

.modal > div {
  padding: calc(var(--default-padding) * 1.6);
}

.wrapper {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  align-items: center;
  background: var(--color-grey-four);
  display: flex;
  -ms-flex-align: center;
  overflow: hidden;
  padding:
    calc(var(--default-margin-large) * 3) var(--default-padding-larger)
    calc(var(--default-margin-large) * 3) var(--default-padding-large);
  width: 100%;
}

.media {
  align-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-line-pack: center;
  -ms-flex-pack: center;
  height: 100vw;
  justify-content: center;
  width: 100%;
}

.media .image {
  display: block;
}

.media .image img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.text {
  -webkit-box-direction: initial;
  -webkit-box-orient: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  font-family: var(--default-font-family-book);
  font-size: var(--font-size-small);
  line-height: calc(var(--font-size-small) + 0.8rem);
  margin-bottom: var(--default-margin-larger);
  overflow: hidden;
}

.embeddedVideo {
  height: auto;
  width: 100%;
}

.embeddedVideo iframe {
  height: 46vw;
  width: 90vw;
}

.playButton {
  color: var(--color-white);
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.icon {
  height: 10rem;
  width: 10rem;
}

@media (--md-min) {
  .wrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .hasMediaRight .wrapper {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .content {
    height: 50vw;
    padding: 0 var(--default-padding-larger);
    width: 50vw;
  }

  .media {
    height: 50vw;
    overflow: hidden;
    width: 50vw;
  }
}
