@import '../../../globals/variables.css';

:root {
  --desktop-nav-color: var(--color-primary);
}

.root {
  color: var(--desktop-nav-color);
  display: block;
}

.nav {
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: var(--header-main-height-small);
  width: 100%;
  z-index: 1000;
}

.nav ul {
  display: block;
  line-height: 1;
  list-style: none;
  margin: 0;
}

.nav li {
  display: block;
  text-align: center;
}

.nav li a {
  display: inline-block;
  font-size: var(--font-size-smaller);
  padding:
    var(--default-margin-small) var(--default-padding-small)
    var(--default-margin-small) 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.nav > ul {
  clear: left;
}

.nav > ul li {
  text-align: left;
}

.nav > ul li a {
  font-size: var(--font-size-base);
}

@media (--lg-min) {
  .nav {
    height: 100% !important;
    overflow: initial;
    position: relative;
    top: auto;
  }

  .nav ul {
    align-items: flex-end;
    clear: inherit;
    display: flex;
    height: 100%;
    padding: 0;
  }

  .nav li {
    padding: 0 1.5rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .nav > ul li a {
    font-size: 1.2rem;
    padding: var(--default-margin-small) 0 var(--default-margin) 0;
    position: relative;
    text-transform: uppercase;

    &::after {
      background: var(--color-grey-one);
      content: '';
      height: 0.1rem;
      left: 0;
      position: absolute;
      top: 4rem;
      transition: 0.16s;
      width: 0%;
    }

    &:hover {
      color: var(--color-grey-one);
      text-decoration: none;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .nav > i {
    display: none;
  }
}
