@import '../../globals/variables.css';

:root {
  --quote-background: transparent;
  --quote-content-width: calc(var(--default-column-width) * 10);
  --quote-media-width: calc(var(--default-column-width) * 5);
  --quote-content-mobile-width: calc(var(--default-column-width) * 8);
  --quote-image-mobile-size: 10rem;
  --quote-image-size: 20rem;
  --quote-media-margin: 2rem;
}

.root {
  align-items: center;
  background: var(--quote-background);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 var(--default-padding-larger);
}

.hasMediaRight {
  flex-direction: row;
}

.root .wrapper {
  margin: 0;
  width: var(--quote-media-width);
}

.wrapper .mediaWrapper {
  margin: 0;
  width: var(--quote-image-mobile-size);

  & > * {
    border-radius: 50%;
    display: block;
    height: var(--quote-image-mobile-size);
    width: var(--quote-image-mobile-size);
  }

  & img {
    height: var(--quote-image-mobile-size);
    width: var(--quote-image-mobile-size);
  }
}

.content {
  display: block;
  width: var(--quote-content-mobile-width);
}

.root .headline {
  color: var(--color-grey-one);
  font-size: 2.4rem;
  line-height: var(--font-size-extra-large);
  margin-bottom: var(--default-margin);
}

.root .subHeading {
  color: var(--color-grey-two);
  font-size: var(--font-size-small);
  line-height: 3rem;
  margin-bottom: var(--default-margin);
}

@media (--xs-min) {
  .wrapper .mediaWrapper {
    margin: var(--quote-media-margin);
  }
}

@media (--sm-min) {
  .content {
    width: var(--quote-content-width);
  }
}

@media (--md-min) {
  .content {
    display: block;
  }

  .hasMediaRight {
    flex-direction: row-reverse;

    .wrapper > * {
      float: right;
    }
  }

  .root .headline {
    font-size: var(--font-size-extra-extra-large);
    line-height: 4.2rem;
    margin-bottom: var(--default-margin);
  }

  .subHeading {
    font-size: 1.7rem;
  }

  .wrapper .mediaWrapper {
    width: var(--quote-image-size);

    & > * {
      height: var(--quote-image-size);
      width: var(--quote-image-size);
    }

    & img {
      height: var(--quote-image-size);
      width: var(--quote-image-size);
    }
  }
}
