@import '../../globals/variables.css';

.root {
  display: block;
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 86rem;
  max-width: var(--screen-xl);
}

.subnav {
  display: block;
  width: 100%;
}

.form {
  padding: 2rem;
}
