@import '../../globals/variables.css';

:root {
  --cookie-detail-color: var(--color-primary);
  --cookie-detail-separator: 1px solid var(--color-grey-three);
}

.root {
  color: var(--cookie-detail-color);
  display: block;
  padding: 5rem var(--default-margin);
}

.root .cookies {
  border-bottom: var(--cookie-detail-separator);
  padding-bottom: var(--default-margin-larger);
}

.root .button {
  margin-top: calc(var(--default-margin) * 2);
  padding: var(--default-margin-small) var(--default-padding);
}

.root .checkbox {
  line-height: initial;
  margin-top: var(--default-margin-larger);
  width: 100%;
}

.root .subtitle {
  color: var(--color-grey-one);
  font-size: var(--font-size-medium);
  line-height: var(--font-size-extra-large);
  margin-top: 10vh;
}

.root .cookieHeading {
  border-top: var(--cookie-detail-separator);
  margin-top: calc(var(--default-margin) * 2);
  widows: 100%;
}

.root .cookieHeading:first-child {
  margin-top: var(--default-margin-larger);
}

.root .cookieDetail {
  margin-top: var(--default-margin-larger);
}

.root .cookieDetail:not(:last-child) {
  border-bottom: var(--cookie-detail-separator);
  padding-bottom: var(--default-margin-larger);
}

.root .cookieDetails {
  color: var(--color-grey-one);
}

.root .detailDescription {
  font-size: var(--font-size-smaller);
  line-height: 2.2rem;
  margin-top: var(--default-margin);
}

.cookieDetailRow {
  display: flex;
  width: 100%;
}

.cookieDetailRow:not(:last-child) {
  margin-bottom: var(--default-margin);
}

.root .cookieDetailName {
  font-size: var(--font-size-smaller);
  font-weight: bold;
  line-height: 2.2rem;
  min-width: 7rem;
  width: 7rem;
}

.root .cookieDetailValue {
  font-size: var(--font-size-smaller);
  line-height: 2.2rem;
}

.root .cookieHeading:last-child {
  border-bottom: var(--cookie-detail-separator);
  padding-bottom: 3rem;
}

@media (--md-min) {
  .root {
    padding: 5rem 32rem;
  }

  .root .detailDescription,
  .root .cookieDetailName,
  .root .cookieDetailValue {
    font-size: var(--font-size-small);
  }

  .root .cookieDetailName {
    min-width: 12rem;
    width: 12rem;
  }
}
