@import '../../globals/variables.css';

:root {
  --product-swiper-thumb-size: 5.5rem;
  --product-swiper-mobile-height: 70%;
  --product-swiper-height: 100%;
}

.root {
  display: block;
}

.swiperWrapper {
  display: flex;
}

.thumbSwiper {
  display: none;
  padding-right: var(--default-margin-small);
  width: var(--default-column-width);
}

.thumbSwiper img {
  height: auto;
  width: 100%;
}

.mainSwiper {
  overflow: auto;
  text-align: center;
  width: 100%;

  & img {
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.thumbItem {
  cursor: pointer;
  outline: none;
}

.slideItem {
  background: var(--color-grey-five);
  padding-bottom: var(--product-swiper-mobile-height);
  position: relative;
}

.mediaWrapper {
  height: 100%;
  margin: 0;
  width: 100%;
}

@media (--md-min) {
  .thumbSwiper {
    display: block;
  }

  .slideItem {
    min-height: 65rem;
    padding-bottom: var(--product-swiper-height);
  }

  .mainSwiper {
    width: calc(var(--default-column-width) * 8);
  }

  .mediaWrapper {
    & img {
      height: 100%;
      width: auto;
    }
  }
}

@media (--lg-min) {
  .mediaWrapper {
    & img {
      left: 60%;
    }
  }
}
