@import '../../globals/variables.css';

.root {
  height: 100% !important;
}

.root .contentWrapper {
  height: 100%;
  padding: 0;
}

.root .content {
  text-decoration: none;
}

.root .subtitle {
  margin-bottom: var(--default-margin-small);
}

.root .text {
  font-size: var(--font-size-medium);
  line-height: 2.2rem;
  margin-bottom: 2.8rem;
}

@media (--md-min) {
  .root {
    display: block;
  }
}
