@import '../../../globals/variables.css';

:root {
  --promo-width: calc(var(--default-column-width) * 10);
}

.root {
  display: flex;
  flex-direction: column;

  & > *:first-child {
    margin-bottom: var(--default-margin-small);
  }
}

@media (--lg-min) {
  .root {
    flex-direction: row;
    justify-content: space-between;

    & > * {
      margin-bottom: 0;
      width: calc(var(--promo-width) - var(--half-quarter-column)) !important;
    }
  }
}
