@import '../../../globals/variables.css';

:root {
  --bigTile-mobile-width: 24rem;
  --bigTile-width: 45rem;
}

.root {
  display: block;
  width: var(--bigTile-mobile-width) !important;
}

/* if bg is dark, tile should be lighter on hover */
.themeDark {
  &:hover {
    background: var(--color-grey-five);
  }
}

/* if bg is white, tile should be grey on hover */
.themeLight {
  &:hover {
    background: var(--color-grey-four);
  }
}

@media (--sm-min) {
  .root {
    width: var(--bigTile-width) !important;
  }
}
