@import '../../globals/variables.css';

:root {
  --hero-background-color: transparent;
  --hero-content-background-color: rgba(255, 255, 255, 0.7);
  --hero-padding: var(--default-padding);
  --hero-content-wrapper-fullHeight-padding: 6rem var(--default-column-width) 40vh var(--default-column-width);
  --hero-content-wrapper-padding: 6rem;
  --hero-content-padding: var(--default-padding);
  --hero-content-width: calc(var(--default-column-width) * 7);
  --hero-terms-padding: calc(var(--default-padding) / 2);
  --hero-terms-color: var(--black);
  --hero-terms-border-radius: var(--default-border-radius);
  --hero-terms-background-color: rgba(255, 255, 255, 0.7);
  --hero-disclaimer-padding: calc(var(--default-padding) / 2);
  --hero-disclaimer-color: var(--white);
  --hero-disclaimer-shadow-color: var(--black);
  --hero-countdown-padding: calc(var(--default-padding) / 2);
  --hero-countdown-color: var(--black);
  --hero-countdown-border-radius: var(--default-border-radius);
  --hero-countdown-background-color: rgba(255, 255, 255, 0.7);
  --hero-container-full-height: 100vh;
  --hero-container-height: 70vh;
  --hero-container-max-height: 120rem;
  --hero-overlay-transparency: 0.1;
}

.root {
  background-color: var(--hero-background-color);
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.bgleft img {
  object-position: left;
}

.bgcenter img {
  object-position: center;
}

.bgright img {
  object-position: right;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

/* 'leftTop', 'leftMiddle', 'leftBottom' */
.leftTop {
  align-items: flex-start;
}

.leftMiddle {
  align-items: center;
}

.leftBottom {
  align-items: flex-end;
}

.bgWrapper {
  display: block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bg,
.bg img {
  left: 0;
  position: absolute;
  top: 0;
}

.bg img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.contentWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: var(--hero-container-height);
  margin: 0 auto;
  max-height: var(--hero-container-max-height);
  max-width: var(--screen-xl);
  padding: var(--hero-content-wrapper-padding);
  pointer-events: none;
  position: relative;
  width: 100%;
  z-index: 1;
}

.isFullHeight {
  height: var(--hero-container-full-height);
  padding: var(--hero-content-wrapper-fullHeight-padding);
}

.content {
  box-sizing: border-box;
  color: var(--color-white);
  display: block;
  pointer-events: all;
  text-align: left;
}

.themeLight {
  & > * {
    color: var(--color-white) !important;
  }
}

.themeDark {
  & > * {
    color: var(--default-font-color) !important;
  }
}

.bgOverlay {
  background: rgba(0, 0, 0, var(--hero-overlay-transparency));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.logoImage {
  margin-top: calc(var(--default-margin-large) * 2);
  text-align: center;
  z-index: 1;
}

.textBlock {
  display: none;
}

.scrollTo {
  color: var(--color-white);
  display: table;
  font-size: 12rem;
  left: 50%;
  position: absolute;
  top: 75vh;
  transform: translate(-50%, 0);
}

.subtitle {
  margin-bottom: var(--default-margin-small) !important;
}

.text { /* no idea what i'm doing here :) */
  font-size: var(--font-size-medium) !important;
  line-height: 2.2rem !important;
}

.title {
  margin-bottom: var(--default-margin-small) !important;
}

@media (--lg-min) {
  .scrollTo {
    top: 70vh;
  }

  .content {
    width: var(--hero-content-width);
  }

  .isFullHeight {
    padding-bottom: 30vh;
  }

  .textBlock {
    display: block;
    margin-bottom: var(--default-margin-larger);
  }
}

@media (--xxl-min) {
  .scrollTo {
    top: 65vh;
  }
}
