@import '../../globals/variables.css';

:root {
  --map-height: 60rem;
}

.root :global(.keune-map-icon) {
  height: 19px;
  width: 19px;
}

.mapElement {
  padding-bottom: 55%;
}

@media (--md-min) {
  .mapElement {
    height: var(--map-height);
    padding-bottom: initial;
  }
}
