@import '../../../globals/variables.css';

:root {
  --sticky-header-color: var(--color-primary);
  --sticky-header-background-color: var(--color-grey-five);
  --sticky-header-mobile-button-margin: 0.1rem;
}

.root {
  background-color: var(--sticky-header-background-color);
  color: var(--sticky-header-color);
  visibility: hidden;
  z-index: 10;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.root .content {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: var(--default-column-width);
}

.root .image {
  height: var(--default-column-width);
  margin-left: var(--default-column-width);
  margin-right: var(--default-margin-small);
  min-height: 5.4rem;
  min-width: 5.4rem;
  width: var(--default-column-width);
}

.root .image img {
  height: 100%;
  width: auto;
}

.root .rightColumn {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: var(--default-column-width);
}

.root .title {
  color: var(--color-grey-one);
  font-family: var(--default-font-family);
  font-size: var(--font-size-medium);
}

.root .price {
  color: var(--color-grey-one);
  font-family: var(--default-font-family-book);
  font-size: var(--font-size-small);
  font-weight: var(--default-font-weight-regular);
  line-height: var(--default-line-height);
  margin-left: auto;
  margin-right: var(--default-margin-small);
}

.root .favourite {
  display: none;
}

.root .button span {
  font-size: var(--font-size-smallest);
}

.root .buttonMobile {
  display: block;
  margin-top: var(--sticky-header-mobile-button-margin);
}

.root .button {
  display: none;
}

.root .buttonMobile button {
  padding: 1rem var(--default-margin-small);
}

@media (--md-min) {
  .root .buttonMobile {
    display: none;
  }

  .root .button {
    display: block;
  }

  .root .button button {
    padding: 0.3rem var(--default-margin-small);
  }

  .root .favourite {
    display: block;
    height: var(--font-size-small);
  }
}
