/*
 * Typography
 * ======================================================================== */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--font-size-base);
  line-height: var(--default-line-height);
  margin: 0 0 2rem 0;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: var(--default-font-family);
  font-weight: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-grey-one);
}
