/* @import '../../../node_modules/rsk-components/variables.css'; */
@import './fonts.css';
@import './typography.css';

:root {
  /*
  * Layout & Sizes: 20 columns
  * ======================================================================== */
  --default-padding-container:
    calc(
      100vw / 20
    ); /* on desktop 1 column both sides  */

  --default-column-width: calc(100vw / 20);
  --half-quarter-column: calc(var(--default-column-width) / 8);

  /* Horizontal: based on column width (64px on 1280px screen, 51.2px on 1024px) */
  --default-padding-small: calc(var(--default-column-width) / 4);
  --default-padding: calc(var(--default-column-width) / 2);
  --default-padding-large: var(--default-column-width);
  --default-padding-larger: calc(var(--default-column-width) * 2);

  /* Vertical (mainly): text margins etc. */
  --default-margin-smaller: 0.5rem;
  --default-margin-small: 1rem;
  --default-margin: 2rem;
  --default-margin-large: 2.4rem;
  --default-margin-larger: 3rem;

  /* Header heights */
  --header-height: 17.1rem;
  --header-height-small: 15.1rem;
  --header-main-height-small: 4rem;
  --header-main-height: 4.5rem;

  /*
  * Fonts
  * ======================================================================== */
  --default-font-family:
    'Futura PT W01 Medium',
    'Futura PT Medium',
    Futura,
    Helvetica,
    Arial,
    sans-serif;
  --default-font-family-book:
    'Futura PT W01 Book',
    'Futura PT Book',
    Futura,
    Helvetica,
    Arial,
    sans-serif;
  --default-font-family-secondary: 'Benton Mod Disp It', Georgia, serif;
  --default-font-bodytext: var(--default-font-family-book);
  --font-size-smallest: 1.2rem;
  --font-size-smaller: 1.4rem;
  --font-size-small: 1.6rem;
  --font-size-medium: 1.8rem;
  --font-size-base: 2rem;
  --font-size-large: 2.6rem;
  --font-size-extra-large: 3.4rem;
  --font-size-extra-extra-large: 4rem;
  --font-size-h1: var(--font-size-extra-extra-large);
  --font-size-h2: var(--font-size-extra-large);
  --font-size-h3: var(--font-size-large);
  --font-size-h4: var(--font-size-base);
  --font-size-h5: var(--font-size-small);
  --default-font-size: var(--font-size-base);
  --default-line-height: calc(var(--font-size-base) + 1rem);
  --default-letter-spacing: calc(0.125rem / 2);
  --default-letter-spacing-title: calc(0.125rem);
  --default-font-weight-light: 300;
  --default-font-weight-regular: 400;
  --default-font-weight-medium: 600;
  --default-font-weight-bold: 700;

  /*
   * Colors
   * ======================================================================== */
  --color-grey-one: #3c3c3b;
  --color-grey-two: #898989; /* ± 60% of #3c3c3b */
  --color-grey-three: #d8d8d8; /* 20% of #3c3c3b */
  --color-grey-four: #f3f3f3; /*  5% of #3c3c3b */
  --color-grey-five: #f9f9f9; /*  2% of #3c3c3b */
  --color-beige-one: #e5e9ef;
  --color-beige-two: #f1f3f7;
  --color-beige-three: #f9fafb;
  --color-grey: var(--color-grey-three);
  --color-grey-dark: var(--color-grey-two);
  --color-grey-darkest: var(--color-grey-one);
  --color-black: #000;
  --color-white: #fff;
  --color-pink: #ff15c9;
  --color-white-alt: rgba(255, 255, 255, 0.5); /* 50% of #FFF */
  --color-grey-one-alt: rgba(137, 137, 137, 1); /* 60% of #898989 */
  --color-grey-two-alt: rgba(243, 243, 243, 0.5); /* 50% of #f3f3f3 */
  --color-grey-three-alt: rgba(216, 216, 216, 0.3); /* 30% van #d8d8d8 */
  --color-primary: #898989;
  --color-primary-two: var(--color-beige-one);
  --color-secondary: var(--color-grey-two);
  --color-secondary-two: #3c3c3b;
  --color-tertiary: var(--color-grey-five);
  --color-success: #3fb34f;
  --color-danger: #ec2938;
  --color-info: var(--color-grey-two);
  --color-warning: #f9df47;
  --color-pending: var(--color-info);
  --color-error: var(--color-danger);
  --default-background-color: #fff;
  --default-font-color: var(--color-grey-one);
  --default-font-color-light: var(--color-beige-one);
  --default-link-color: var(--default-font-color);
  --default-link-decoration: underline;
  --default-link-hover-color: var(--color-primary);
  --default-link-hover-decoration: underline;
  --shadow-box: 0 3px 6px rgba(0, 0, 0, 0.16);
  --shadow-box-bottom: 0 2px 0 0 rgba(216, 216, 216, 1);
  --border-radius: 4px;

  /*
   * Transitions, animations
   * ======================================================================== */
  --trans-fast: 0.2s ease;
  --trans-normal: 0.35s ease;
  --trans-slow: 0.5s ease;

  /*
   * Components
   * ======================================================================== */
  --default-card-border: 0.1rem;
  --tile-width: calc(var(--default-column-width) * 4);
  --product-list-tile-gutter: 3.3vw;

  /*
   * Media query breakpoints
   * ========================================================================
   */

  @custom-media --xs-min (min-width: 480px); /* Extra small screen / phone */
  @custom-media --sm-min (min-width: 768px); /* Small screen / tablet */
  @custom-media --md-min (min-width: 1024px); /* Larger tablet screen / desktop */
  @custom-media --lg-min (min-width: 1280px); /* Large screen / wide desktop */
  @custom-media --xl-min (min-width: 1480px); /* XL screen / wider desktop */
  @custom-media --xxl-min (min-width: 1920px); /* XXL screen / wider desktop/tv */
}
